<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <p>Hello  <%= service.user.name %>,</p>
  <p>One of Your Searvices is just Expired! And as you do not have enough credits in your account, We are unable to Renew Your service.</p>
  <br>
  <p>With this e-mail, we would like to inform you that payment for one or multiple of your subscriptions are due. Below, you can find an overview of your subscriptions. Important: Please note that if we do not receive a new payment within the next 7 days, we will be forced to temporarily suspend the subscriptions listed below and other subscriptions on your customer account. This is something we would like to avoid at all costs. If this happens and the affected subscription is a server or package, it will cost 1289.97 INR to reactivate it. In addition to that, there is a risk that your data is lost entirely if your payment arrives after the due-date. We therefore ask you to send a payment within the next day to avoid all the aforementioned negative consequences of non-payment.</p>
  <p>Please login to your Accountand recharge atlast INR <%= service.service.renewalCost %> as soon as possible. </p>
  <div style="background-color: #f5f5f5; padding: 20px; margin: 10px;">
    <h4>Service Info: </h4>
    <hr>
    <p><%= service.service.package %> for <%= service.service.domain %></p>
    <p>Renewed Until: <%=  service.service.nextRenewal.getFullYear()+'-' + (service.service.nextRenewal.getMonth()+1) + '-'+service.service.nextRenewal.getDate()%></p>
    <p>Renewal Cost: INR <%= service.service.renewalCost %></p>
  </div>
  <div style="background-color: #f5f5f5; padding: 20px; margin: 10px;">
    <h4>Account Info: </h4>
    <hr>
    <p>Username: <%= service.user.username %></p>
    <p>Avilable Credits: <%= service.user.credits %></p>
  </div>
</body>
</html>
