<% include ../../inc/usercpHead %>
<% include ../../inc/admincpsider %>
<div class="content-wrapper">
    <main class="content-header">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>View Ticket</h4>
            </div>
            <div class="panel-body">
                <div class="list-group-item">
                    <div>
                        Subject:
                        <%= ticket.service.subject %>
                    </div>
                    <div>
                        Ticket Status:
                        <%= ticket.status %>
                    </div>
                </div>
                <br>
                <div class="list-group">
                    <!-- Chat Box -->
                    <div class="container-fluid">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <span class="glyphicon glyphicon-comment"></span> Support
                                <div class="btn-group pull-right">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                            data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-chevron-down"></span>
                                    </button>
                                    <ul class="dropdown-menu slidedown">
                                        <li><a href="#"><span class="glyphicon glyphicon-refresh">
                                  </span>Refresh</a></li>
                                        <li><a href="#"><i class="fa fa-check" aria-hidden="true"></i> Resolved</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#"><i class="fa fa-times-circle-o" aria-hidden="true"></i> Close
                                                Ticket</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-body">
                                <ul class="chat">
                                    <% ticket.message.forEach( message => { %>
                                    <% if( message.user._id.toString() == userInfo._id.toString() ) { %>
                                    <%# User Reply %>
                                    <li class="right clearfix"><span class="chat-img pull-right">
                                      <img src="http://placehold.it/50/FA6F57/fff&amp;text=ME" alt="User Avatar"
                                           class="img-circle">
                                  </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <small class=" text-muted"><span
                                                            class="glyphicon glyphicon-time"></span>
                                                    <%= func.timeDifference(new Date(), message.date) + " ago" %>
                                                </small>
                                                <strong class="pull-right primary-font"><%= message.user.name %></strong>
                                            </div>
                                            <p>
                                                <%= message.message %>
                                            </p>
                                        </div>
                                    </li>
                                    <% } else { %>
                                    <%# Users Reply %>
                                    <li class="left clearfix"><span class="chat-img pull-left">
                                      <img src="http://placehold.it/50/55C1E7/fff&amp;text=User" alt="User Avatar"
                                           class="img-circle">
                                  </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <strong class="primary-font"><%= message.user.name %></strong>
                                                <small class="pull-right text-muted">
                                                    <span class="glyphicon glyphicon-time"></span>
                                                    <%= timeDifference(new Date(), message.date) %></small>
                                            </div>
                                            <p>
                                                <%= message.message %>
                                            </p>
                                        </div>
                                    </li>
                                    <% } %>
                                    <% } ) %>

                                </ul>
                            </div>
                            <div class="panel-footer">
                                <form class="input-group" method="POST" action="">
                                    <input id="btn-input" type="text" class="form-control input-sm" name="message"
                                           placeholder="Type your message here...">
                                    <span class="input-group-btn">
                                  <button class="btn btn-warning btn-sm" id="btn-chat">
                                      Send</button>
                              </span>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- end of chat box -->
                </div>

            </div>
        </div>
    </main>
</div>
<%
function timeDifference(current, previous) {

    var msPerMinute = 60 * 1000;
    var msPerHour = msPerMinute * 60;
    var msPerDay = msPerHour * 24;
    var msPerMonth = msPerDay * 30;
    var msPerYear = msPerDay * 365;

    var elapsed = current - previous;

    if (elapsed < msPerMinute) {
        return Math.round(elapsed / 1000) + ' seconds ago';
    }

    else if (elapsed < msPerHour) {
        return Math.round(elapsed / msPerMinute) + ' minutes ago';
    }

    else if (elapsed < msPerDay) {
        return Math.round(elapsed / msPerHour) + ' hours ago';
    }

    else if (elapsed < msPerMonth) {
        return 'approximately ' + Math.round(elapsed / msPerDay) + ' days ago';
    }

    else if (elapsed < msPerYear) {
        return 'approximately ' + Math.round(elapsed / msPerMonth) + ' months ago';
    }

    else {
        return 'approximately ' + Math.round(elapsed / msPerYear) + ' years ago';
    }
}
%>
<% include ../../inc/footer %>
